black==24.10.0
fastapi==0.115.5
flake8==7.1.1
langchain==0.3.8
ollama==0.4.1
openai==1.55.2
pre-commit==4.0.1
psutil==6.1.0
pydantic==2.10.2
PyMuPDF==1.24.14
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
sentry-sdk[starlette,fastapi,openai]==2.19.0
unstructured==0.16.8
uvicorn==0.32.1
weaviate-client==4.9.4
langchain-core~=0.3.21
starlette~=0.41.3
langsmith~=0.1.147
langchain-text-splitters~=0.3.2