black==24.10.0
fastapi==0.115.6
flake8==7.1.1
langchain==0.3.14
ollama==0.4.5
openai==1.59.6
pre-commit==4.0.1
psutil==6.1.1
pydantic==2.10.5
PyMuPDF==1.25.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
sentry-sdk[starlette,fastapi,openai]==2.19.2
unstructured==0.16.5
uvicorn==0.34.0
weaviate-client==4.10.2
langchain-core~=0.3.29
starlette~=0.45.2
langsmith~=0.2.10
langchain-text-splitters~=0.3.5