# ----------------------------------------------------------------------------------------------------------------------
# Setup for a Pyris development server.
# ----------------------------------------------------------------------------------------------------------------------

services:
  pyris-app:
    extends:
      file: ./pyris.yml
      service: pyris-app
    pull_policy: never
    restart: "no"
    volumes:
      - ../application.local.yml:/config/application.yml:ro
      - ../llm_config.local.yml:/config/llm_config.yml:ro
    networks:
      - pyris

  weaviate:
    extends:
      file: ./weaviate.yml
      service: weaviate
    networks:
      - pyris
    port:
      - 8001:8001
      - 50051:50051

networks:
  pyris:
    driver: "bridge"
    name: pyris

