name: Deploy

on:
  workflow_call:
    inputs:
      docker-tag:
        required: true
        type: string
      branch-name:
        required: true
        type: string
      environment-name:
        required: true
        type: string
      environment-url:
        required: true
        type: string
    secrets:
      DEPLOYMENT_GATEWAY_SSH_KEY:
        required: true

concurrency: deploy

env:
  RAW_URL: https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}


jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: ${{ inputs.environment-name }}
      url: ${{ inputs.environment-url }}

    env:
      DOCKER_TAG: ${{ inputs.docker-tag }}
      BRANCH_NAME: ${{ inputs.branch-name }}
      DEPLOYMENT_USER: ${{ vars.DEPLOYMENT_USER }}
      DEPLOYMENT_HOST: ${{ vars.DEPLOYMENT_HOST }}
      DEPLOYMENT_FOLDER: ${{ vars.DEPLOYMENT_FOLDER }}
      DEPLOYMENT_HOST_PUBLIC_KEYS: ${{ vars.DEPLOYMENT_HOST_PUBLIC_KEYS }}
      GATEWAY_USER: "jump"
      GATEWAY_HOST: "gateway.artemis.in.tum.de:2010"
      GATEWAY_HOST_PUBLIC_KEY: "[gateway.artemis.in.tum.de]:2010 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKtTLiKRILjKZ+Qg4ReWKsG7mLDXkzHfeY5nalSQUNQ4"

    steps:
      # Download pyris-server-cli from GH without cloning the Repo
      - name: Fetch Pyris CLI
        run: |
          wget ${{ env.RAW_URL }}/pyris-server-cli
          chmod +x pyris-server-cli

      # Configure SSH Key
      - name: Setup SSH Keys and known_hosts
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
          GATEWAY_SSH_KEY: "${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}"
          DEPLOYMENT_SSH_KEY: "${{ secrets.DEPLOYMENT_SSH_KEY }}"
        run: |
          mkdir -p ~/.ssh
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< $GATEWAY_SSH_KEY
          ssh-add - <<< $DEPLOYMENT_SSH_KEY
          cat - <<< $GATEWAY_HOST_PUBLIC_KEY >> ~/.ssh/known_hosts
          cat - <<< $(sed 's/\\n/\n/g' <<< "$DEPLOYMENT_HOST_PUBLIC_KEYS") >> ~/.ssh/known_hosts

      - name: Deploy Pyris with Docker
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ./pyris-server-cli docker-deploy "$DEPLOYMENT_USER@$DEPLOYMENT_HOST" -g "$GATEWAY_USER@$GATEWAY_HOST" -t $DOCKER_TAG -b $BRANCH_NAME -d $DEPLOYMENT_FOLDER -y
